/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* logo and headings */

h1, h2 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    color: #FF5733;
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

/* nav links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 60px;
}

a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #FF5733;
}

.active {
    background-color: #FF5733;
    color: #fafafa;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;

}

/* main image */

#main-image-outer {
    height: 720px;
    width: 100%;
    overflow: hidden;
    

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;       
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/dog-group.jpg') no-repeat center center;
    background-size: cover;

    /* Animates zoom effect on loading page */

    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/* Creates the zoom for main image */

@keyframes image-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

#cover-text {
    font-size: 150%;
    font-family: Poppins, sans-serif;
    text-align: center;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;
    border-radius: 20px;

    padding: 10px 10px 10px 10px;

    background-color: rgba(255, 87, 51, 0.4)
    ;

    position: absolute;
    top: 5%;
    left: 40%;
}

section > div > i {
    font-size: 250%;
}

/* about us section */

#about-us > h2 {
    text-align: center;
    font-size: 250%;
}

#about-us p {
    font-size: 110%;
}

hr {
    border-top: 1px solid #FF5733;
    width: 400px;
    margin: 5px 0;
    margin-inline: auto;
}

#about-us > div {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 33%;
    text-align: center;
    
    margin-inline: auto;
}

div > h2 {
    border-bottom: #FF5733;
}

i {
    color: #FF5733;
    margin-bottom: 30px;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
}

/* time table */

#time-table {
    max-width: 33%;
    margin: auto;
    padding-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}


#time-table p {
    font-size: 130%;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* map location*/

#location {
    border: 3px solid #FF5733;
    width: 750px;
    height: 450px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

#map {
    text-align: center;
}

/* Bookings form */

#form-section {
    

    clear: both;
    max-width: 33%;
    padding: 20px;
    margin: auto;
    font-size: 130%;
    text-align: center;
}

#form {
    background-color: #FF5733;
    color: #fafafa;
    padding: 20px;
    border-radius: 20px;
    height: 300px;
    display: block;
}

.text-input {
    border-radius: 20px;
    width: 310px;
    height: 20px;
    padding: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 80%;
}

.submit-button {
    background-color: #fafafa;
    color: #3a3a3a;
    padding: 15px;
    border-radius: 20px;
    font-size: 80%;
}

.submit-button:hover {
    border: 3px solid #252525;
}



