/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* logo and headings */

h1, h2 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    color: #FF5733;
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

/* nav links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 60px;
}

a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #FF5733;
}

.active {
    background-color: #FF5733;
    color: #fafafa;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;

}

/* main image */

#main-image-outer {
    height: 720px;
    width: 100%;
    overflow: hidden;
    

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;       
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/dog-group.jpg') no-repeat center center;
    background-size: cover;

    /* Animates zoom effect on loading page */

    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/* Creates the zoom for main image */

@keyframes image-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

#cover-text {
    font-size: 150%;
    font-family: Poppins, sans-serif;
    text-align: center;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;
    border-radius: 20px;

    padding: 10px 10px 10px 10px;

    background-color: rgba(255, 87, 51, 0.4)
    ;

    position: absolute;
    top: 5%;
    left: 40%;
}

section > div > i {
    font-size: 250%;
}

/* about us section */

#about-us > h2 {
    text-align: center;
    font-size: 250%;
}

#about-us > div {
    margin-top: 50px;
    margin-left: 40px;
    width: 33%;
    text-align: center;
    
    margin-inline: auto;
}

